<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive='active'>Dating App</a>
        <ul class="navbar-nav mr-auto">
            <ng-container  *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link " routerLink="/members" routerLinkActive='active'>Members <i class='fa fa-users'></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive='active'>Lists <i class="fa fa-server"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive='active'>Messages <i class="fa fa-envelope"></i></a>
                </li>
            </ng-container>
            <li class="nav-item">
                <a class="nav-link" routerLink="/errors" routerLinkActive='active'>Errors <i class="fa fa-warning"></i></a>
            </li>
        </ul>

        <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
            <a class="dropdown-toggle text-primary" dropdownToggle>Welcome, {{user.username}}</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a routerLink='/member/edit' class="dropdown-item">Edit Profile</a>
                <hr/>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <form #myForm="ngForm" *ngIf="(accountService.currentUser$ | async) === null" 
        (ngSubmit)="login()" autocomplete="off">
            <mat-form-field>
                <input class="text-dark" name="username" required 
                [(ngModel)]="model.username" matInput type="text" placeholder="Username">
                <mat-error>Username is required!</mat-error>
            </mat-form-field>
            <mat-form-field class="ml-2">
                <input class="text-dark" name="password" required
                [(ngModel)]="model.password" matInput type="password" placeholder="Password">
                <mat-error>Password is required!</mat-error>
            </mat-form-field>
            <button class="ml-2 btn btn-primary" [disabled]="!myForm.valid">Login <a class="fa fa-sign-in"></a></button>
        </form>
    </div>
    
  </nav>
